@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;600;800&display=swap";
body {
	font-family: 'Roboto', sans-serif;
}
.btn {
	margin: 0;
	font-family: 'Encode Sans Condensed', sans-serif;
	padding: 1rem 2rem;
	background-color: transparent;
	border: 2px solid rgb(0, 161, 235);
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	display: block;
	width: max-content;
	cursor: pointer;
}
.btn.btn--full {
	background-color: rgb(0, 161, 235);
	padding: 1rem 3rem;
	text-align: center;
}
.top-bar {
	width: 100%;
	background-color: rgb(0, 161, 235);
	.container {
		display: flex;
		justify-content: flex-end;
		padding: 5px 0;
		gap: 0 20px;
	}
	div {
		color: white;
		font-size: 0.9rem;
	}
}
.container {
	width: 70%;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
nav {
	.container {
		display: flex;
		justify-content: space-between;
		gap: 0 20px;
		padding: 15px 0;
	}
	ul {
		display: flex;
		gap: 30px;
		font-size: 0.9rem;
		justify-content: space-evenly;
		align-items: center;
		li {
			list-style: none;
			font-family: 'Encode Sans Condensed', sans-serif;
			a {
				text-decoration: none;
				color: black;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}
	input {
		align-self: center;
		border: 0;
		border-bottom: 2px solid rgb(0, 161, 235);
		&:focus {
			outline: none;
		}
	}
	width: 100%;
	background-color: white;
	height: 90px;
}
.banner {
	width: 100%;
	padding: 4rem 0;
	background-color: rgb(0, 161, 235);
	.container {
		display: flex;
		gap: 20px;
		justify-content: space-evenly;
		align-items: center;
	}
	.item {
		display: flex;
		gap: 15px;
		justify-content: center;
		align-items: center;
		img {
			height: 50px;
		}
		span {
			color: white;
			text-transform: uppercase;
		}
	}
}
footer {
	.top {
		height: 400px;
		width: 100%;
		background-image: url("../../assets/footer-bg.jpg");
		background-size: cover;
		position: relative;
		overflow: hidden;
		&::after {
			content: "";
			background-image: url("../../assets/dc-logo-bg.png");
			background-size: contain;
			width: 500px;
			height: 525px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15%;
			background-repeat: no-repeat;
		}
	}
	.bottom {
		height: 7rem;
		width: 100%;
		background-color: rgb(36, 36, 36);
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			div {
				display: flex;
				gap: 20px;
				align-items: center;
			}
			.right {
				span {
					text-transform: uppercase;
					color: rgb(0, 161, 235);
					font-size: 1.2rem;
					font-family: 'Encode Sans Condensed', sans-serif;
				}
			}
		}
	}
}
