.hero {
	background-image: url("../../assets/jumbotron.jpg");
	height: 20rem;
	width: 100%;
	background-size: cover;
	.container {
		.title {
			position: absolute;
			bottom: 0px;
			left: 0px;
			text-transform: uppercase;
			font-size: 1.7rem;
			color: white;
			font-weight: 600;
			background-color: rgb(0, 161, 235);
			padding: 10px 20px;
			transform: translateY(50%);
			font-family: 'Encode Sans Condensed', sans-serif;
		}
	}
}
.comics-list {
	padding: 70px 0;
	width: 100%;
	background-color: rgb(19, 19, 19);
	display: flex;
	flex-direction: column;
	gap: 40px;
	.container {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
		.item {
			width: 200px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			span {
				text-transform: uppercase;
				color: white;
			}
		}
        a{
            text-decoration: none;
            color: inherit;
        }
	}
	.item {
		img {
			height: 200px;
			width: 200px;
			object-fit: cover;
            object-position: top;
		}
	}
}
